:root {
  --border-color: rgb(0, 0, 0);
  --danger-bg-color: #b80c00;
  --warning-bg-color: rgb(233, 115, 18);
  --success-bg-color: rgba(144, 221, 99, 0.671);
  --danger-color: #f50f00;
  --warning-color: rgb(230, 217, 198);
  --success-color: rgb(31, 187, 44);
  --badge-bg-color: rgb(255, 0, 0);
  --badge-color: rgb(255, 255, 255);
  --btn-bg-color: rgb(190, 56, 173);
  --icon-bg-color: rgb(184, 184, 184);
  --icon-bg-active-color: rgb(105, 105, 105);
  --primary-bg-color: #006377;
  --btn-color: rgb(255, 255, 255);
  --btn-bg-hover: #00607391;
  --btn-outline-color: rgb(156, 162, 168);
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(132, 132, 138);
  --complementary-color: rgb(0, 0, 0);
  --background-color: rgb(211, 223, 226);
  --card-bg-color: #f0f0f0c5;
  --badge-bg-color: rgba(171, 171, 201, 0.493);
  --price-tag-color: rgb(109, 108, 108);
  --btn-bg-color: rgb(203, 203, 206);
  --shadow-color: rgb(177, 175, 175);
  --input-bd-error: #e63030;
  --input-bd-warning: #ffae22;
  --input-bd-success: #059669;
}
